<!DOCTYPE html>
<html>
    <head>
        <title>Ayuda</title>
    </head>
    <body>
        <h1>Ventana de ayuda:</h1>
        <h4>Requisitos de los campos de texto:</h4>
        <ul>
            <li>
                Nombre de usuario:
                <ul>
                    <li>Caracter m&iacute;nimo 3.</li>
                    <li>Caracter m&aacute;ximo 15.</li>
                </ul>
            </li>
            <li>
                Contrase&ntilde;a:
                <ul>
                    <li>Caracter m&iacute;nimo 3.</li>
                    <li>Caracter m&aacute;ximo 15.</li>
                </ul>
            </li>
        </ul>
        <h4>Acciones de la ventana:</h4>
        <ul>
            <li>Bot&oacute;n ?&nbsp;->&nbsp;Abrir ventana ayuda.</li>
            <li>Bot&oacute;n Registrar&nbsp;->&nbsp;Abrir ventana registrar.</li>
            <li>Bot&oacute;n Acceder&nbsp;->&nbsp;Abrir ventana principal.</li>
            <li>Bot&oacute;n Salir&nbsp;->&nbsp;Salir de la apliaci&oacute;n.</li>
        </ul>
        <h4>Aceleradores de la ventana:</h4>
        <ul>
            <li>F1&nbsp;->&nbsp;Ventana de ayuda.</li>
            <li>Alt + R&nbsp;->&nbsp;Ventana registrar.</li>
            <li>Alt + A&nbsp;->&nbsp;Ventana principal.</li>
            <li>Alt + S&nbsp;->&nbsp;Salir de la aplicaci&oacute;n.</li>
            <li>Esc&nbsp;->&nbsp;Salir de la aplicaci&oacute;n.</li>
        </ul>
        <h4>Ayudas adicionales:</h4>
        <ul>
            <li>Si tienes el foco en el campo de texto o campo de 
                contrase&ntilde;a y presionas Enter, se acciona el bot&oacute;n
            Acceder.</li>
            <li>Si tienes el foco en el bot&oacute;n Registrar y 
            presionas Enter, se acciona el bot&oacute;n Registrar.</li>
            <li>Si tienes el foco en el bot&oacute;n Salir y 
            presionas Enter, se acciona el bot&oacute;n Salir.</li>
            <li>Si la etiqueta que acompa&ntilde;a al campo de texto o campo 
            contrase&ntilde;a esta de color rojo, significa que esta mal 
            informado.</li>
            <li>Si el campo de texto o campo contrase&ntilde;a est&aacute;n mal 
            informado el bot&oacute;n Acceder estar&aacute; deshabilitado.</li>
        </ul>
    </body>
</html>