<html>
    <head >
        <meta charset="UTF-8">
            <h1>Ayuda</h1>
            <hr/>
    </head>
    <body>
        <img src="./registro.PNG"/><br/>
        <h1>Índice</h1>
        <ul>
            <li><a href="#Basico">Informacion basica</a></li>
            <li><a href="#Requisitos">Requirimientos de logueo</a></li>
            <li><a href="#Atajos">Accesos rápidos</a></li>
        </ul>
        <br/>
        <h3 id="Basico">Información básica</h3>
        <p>Esta ventana permite Registrar un usuario nuevo.</p>
        <h3 id="Requisitos">Requirimientos de logueo</h3>
        <p>Para crear un usuario debera introducir sus datos y asi poder habilitar el boton
            <strong>Registrar</strong>, en caso de que un campo sea introducido incorrectamente
            se le notificara el problema en cuestion.<br/>
            Para el correcto registro se debera introducir un <strong>Email</strong> correcto con su
            formato correcto ej: pedro.pedrin<u>@</u>gmail<u>.com</u>.<br/>
            <strong>Nombre de usuario</strong> tendrá que ser único, en caso contrario se le notificará
            y ademas tendra un <strong>minimo de 3 caracteres</strong>.<br/>
            <strong>Contraseña</strong> tendra que tener <strong>mínimo 3 caracteres</strong>
            y se tendrá que repetir en <strong>confirmar contraseñas</strong> y tienen que coincidir.
            Una vez realizadas las acciones anteriores, deberá pulsar el botón <strong>Registrar</strong> 
            para crear el usuario. Si no se produce ningún error, se habra dado de alta al usuario
            y regresará a la ventana de inicio.
        </p>
        <strong>Cerrar ventana</strong>
        <p>Pulsando el botón <strong>Cancelar</strong> se cerrará la ventana y volvera al início.</p>
        <strong>Ayuda</strong>
        <p>Pulsando el botón <strong>Ayuda</strong> verá este documento de ayuda.</p><br/>
        
        <h3 id="Atajos">Acceso rápido</h3>
        <table cellpadding="10"width=300>
                <tr>
                        <th align="left">Teclas</th>
                        <th align="left">Informacion</th>
                </tr>
                <tr>
                        <td>F1</td>
                        <td >Abre el menu de ayuda</td>
                </tr>
                <tr>
                        <td>Esc</td>
                        <td>Salida rapida</td>
                </tr>
        </table>
    </body>
</html>